:root {
    --primary-color:rgb(12, 12, 12);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 2rem;
}